/*#################################### 
###########  Home Banner #############
####################################*/

#home-banner {
  background-image: url(../images/home-banner.png);
  background-repeat: no-repeat;
  width: 100%;
}


#home-banner .home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}



.card-hover-effect {
  transition: all 0.3s ease-in-out;
  border-bottom: 5px solid #fff;
  z-index: +1;
}

.card-hover-effect:hover {
  border-bottom: 5px solid #45C76F;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 6.34px 28.19px 0px #45c76f3b;
}

.card-hover-effect:hover h4 {
  color: #45C76F;
}

.card-hover-effect:hover .card-svg-img {
  fill: #45C76F;
}

/*#################################### 
###########  Home Banner #############
####################################*/





/*####################################### 
###########  research Section ###########
########################################*/

.research-insights .research-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #348C4F;
}


.research-insights .research-elements .research-content {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.research-insights .research-elements .research-image {
  width: 40%;
}

.research-content .research-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
  background-color: #45C76F;
  border-radius: 20px;
}

.research-content .research-icon .image-box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
}

@media (max-width:1023px) {
  .research-insights .research-elements {
    flex-wrap: wrap;
  }

  .research-insights .research-elements .research-content {
    width: 100%;
  }


  .research-insights .research-elements .research-image {
    width: 100%;
  }
}

/*######################################## 
###########  research Section ############
##########################################*/





/*######################################## 
######### Challenges  Section ############
##########################################*/
.challenges-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  gap: 9px;
}

.challenges-items p {
  width: 100%;
  width: 175px;
}

.challenges-items.child-1 {
  border-left: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
  position: relative;
}

.challenges-items.child-1:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

.challenges-items.child-2 {
  border-left: 1px solid #A4A4A4;
  border-right: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
  position: relative;
}

.challenges-items.child-2:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

.challenges-items.child-3 {
  border-right: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4;
  position: relative;
}

.challenges-items.child-3:after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

.challenges-items.child-4 {
  border-bottom: 1px solid #A4A4A4;
}

.challenges-items.child-5 {
  border-left: 1px solid #A4A4A4;
  position: relative;
}

.challenges-items.child-5:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

.challenges-items.child-5:after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

.challenges-items.child-6 {
  border-right: 1px solid #A4A4A4;
  border-left: 1px solid #A4A4A4;
}

.challenges-items.child-7 {
  border-right: 1px solid #A4A4A4;
  position: relative;
}

.challenges-items.child-7:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

.challenges-items.child-7:after {
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-image: url('../images/circle.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: +99;
}

@media(max-width:1200px) {
  .challenges-items p {
    width: 100%;
    width: 155px;
  }
}

@media(max-width:991px) {
  .challenges-items.child-1 {
    border-left: 0px solid #A4A4A4;
  }

  .challenges-items.child-1:after {
    background-image: none;
    display: none;
  }

  .challenges-items.child-2 {
    border-left: 0px solid #A4A4A4;
    border-right: 0px solid #A4A4A4;
  }

  .challenges-items.child-2:after {
    background-image: none;
    display: none;
  }

  .challenges-items.child-3 {
    border-right: 0px solid #A4A4A4;
    position: relative;
  }

  .challenges-items.child-3:after {
    background-image: none;
    display: none;
  }



  .challenges-items.child-5 {
    border-left: 0px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
  }

  .challenges-items.child-5:before {
    background-image: none;
    display: none;
  }

  .challenges-items.child-5:after {
    background-image: none;
    display: none;
  }

  .challenges-items.child-6 {
    border-bottom: 1px solid #A4A4A4;
    border-right: 0px solid #A4A4A4;
    border-left: 0px solid #A4A4A4;
  }

  .challenges-items.child-7 {
    border-bottom: 1px solid #A4A4A4;
    border-right: 0px solid #A4A4A4;
  }

  .challenges-items.child-7:before {
    background-image: none;
    display: none;
  }

  .challenges-items.child-7:after {
    background-image: none;
    display: none;
  }
}

/*######################################## 
######### Challenges Section ############
##########################################*/


/*######################################## 
######### Solution Section ############
##########################################*/

.solutions {
  background-color: #45C76F;
}

.solution-card .card-details {
  background-color: #fff;
  min-height: 250px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px
}

.read-more-btn {
  border: 1px solid #CED7DD;
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.read-more-btn .read-text {
  max-width: 78px;
  transition: all 0.3s ease-in-out;
}

.read-more-btn .read-image {
  margin-right: 6px;
  transition: all 0.5s ease-in-out;
}

.read-more-btn:hover {
  border: 1px solid #45c76f;
  transition: all 0.3s ease-in-out;
}

.read-more-btn:hover .read-text {
  color: #45c76f;
  transition: all 0.3s ease-in-out;
}

.read-more-btn:hover .read-image {
  animation: arrowmove 0.5s ease-in-out;
}

.read-more-btn:hover .read-image path {
  fill: #45c76f;
  transition: all 0.3s ease-in-out;
}

@keyframes arrowmove {
  100% {
    transform: translateX(-1px);
  }

  60% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(-13px);
  }

  0% {
    transform: translateX(0px);
  }
}

/*######################################## 
######### Solution Section ############
##########################################*/


/*######################################## 
######### Architects Section ############
##########################################*/

.architects {
  background-color: #F5F5F5;
  min-height: 900px;
}

.architects-images-container .architects-image {
  border-radius: 150px;
  padding: 4em 0px 0px 0px;
  min-height: 580px;
  width: 100%;
  max-width: 250px;
  z-index: +1;
  position: relative;
}

.architects-image:last-of-type {
  top: 4em !important;
}

.architects-images-container .architects-image img {
  border-radius: 150px;
}

.architects-images-container .wave-line-blue {
  bottom: 0;
  right: 29%;
  max-width: 600px;
  width: 100%;
}

.architects-images-container .wave-line-green {
  bottom: 100px;
  right: 0;
  max-width: 600px;
  width: 100%;
}

.stick-btns-container {
  float: right;
  z-index: +2;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  right: 0;
}

.stick-btns-container .contact-stick-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
  position: sticky;
  width: 90px;
  padding: 5px 5px;
  gap: 15px;
  margin-top:10px;
  border-radius: 44px 44px 44px 44px;
  z-index: -1;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  color: #fff;
}

.stick-btns-container .contact-stick-btn:hover {
  width: 250px;
  background-color: #1780CE;
}

.stick-btns-container .contact-stick-btn span {
  width: 128px;
  text-align: center;

}

.stick-btns-container .contact-stick-btn:hover svg rect {
  fill: #fff;
}

.stick-btns-container .contact-stick-btn:hover svg path {
  fill: #1780CE;
}

.stick-btns-container .pdf-stick-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
  position: sticky;
  width: 90px;
  padding: 5px 5px;
  gap: 15px;
  border-radius: 44px 44px 44px 44px;
  z-index: -1;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  color: #fff;
}

.stick-btns-container .pdf-stick-btn:hover {
  width: 250px;
  background-color: #45C76F;
}

.stick-btns-container .pdf-stick-btn span {
  width: 128px;
  text-align: center;

}

.stick-btns-container .pdf-stick-btn:hover svg .pdf-react1 {
  fill: #fff;
}

.stick-btns-container .pdf-stick-btn:hover svg circle {
  fill: #fff;
}

.stick-btns-container .pdf-stick-btn:hover svg g path {
  fill: #45C76F;
}

.stick-btns-container .pdf-stick-btn:hover svg .pdf-react2 {
  fill: #45C76F;
}

@media(max-width:1600px) {
  .architects-images-container .wave-line-blue {
    bottom: 100px;
    right: 29%;
    max-width: 500px;

  }

  .architects-images-container .wave-line-green {
    bottom: 300px;
    right: 0;
    max-width: 500px;

  }
}

@media(max-width:1199px) {
  .architects-images-container .architects-image {
    min-height: 525px;
  }
}

@media(max-width:1200px) {
  .architects-images-container .wave-line-blue {
    bottom: 100px;
    right: 28%;
    max-width: 440px;

  }

  .architects-images-container .wave-line-green {
    bottom: 400px;
    right: 0;
    max-width: 330px;

  }
}

@media(max-width:991px) {
  .architects-images-container .wave-line-blue {
    bottom: 0px;
    left: 0;
    max-width: 440px;
    opacity: 0.5;
  }

  .architects-images-container .wave-line-green {
    bottom: 300px;
    right: 0;
    max-width: 330px;
    opacity: 0.5;
  }

  .architects-images-container .architects-image {
    min-height: 430px;
  }
}



/*######################################## 
######### Architects Section ############
##########################################*/




/*######################################## 
######### Blogs Section ############
##########################################*/

#blogs {}

#blogs h4 {
  line-height: 1.5em;
}

.blogAssetContainer .columnShadow {
  padding: 20px 20px;
  box-shadow: 0px 0px 20px #eeebeb;
  border-radius: 9px;
  background: #fff;
}

.blogBigTiles .Bigtiles-image {}


/*######################################## 
######### Blogs Section ############
##########################################*/



/*######################################## 
######### Mid-Banner Section ############
##########################################*/

.midBanner-bg {
  background-image: url(../images/mid-banner-cover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
}

.read-more-btn-2 {
  border: 0px solid #CED7DD;
  border-radius: 20px;
  width: 100%;
  max-width: 120px;
  padding: 8px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.read-more-btn-2:hover .read-image-2 {
  animation: arrowmove-2 0.5s ease-in-out;
}

@keyframes arrowmove-2 {
  100% {
    transform: translateX(-1px);
  }

  60% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(-13px);
  }

  0% {
    transform: translateX(0px);
  }
}

/*######################################## 
######### Mid-Banner Section ############
##########################################*/



/*######################################## 
######### Subscribe Section ############
##########################################*/
.subscribe {
  background-color: #1780CE;
}

::placeholder {
  color: #CED7DD;
}

.subscribe .custom-search {
  position: relative;
  width: 100%;
  max-width: 380px;
  margin: 0 0 0 auto;
}

.subscribe .custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 20px 150px 20px 25px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

.subscribe .custom-search-botton {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;
  border: 0;
  background: #45C76F;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 30px;
  border-radius: 100px;
  z-index: 2;
  font-size: 16px;
}

@media(max-width:767px) {
  .subscribe .custom-search {
    margin: 40px auto 0 auto;
  }
}

/*######################################## 
######### Subscribe Section ############
##########################################*/

/*######################################## 
######### Faq Section ############
##########################################*/
.faq .accordion-body {
  background-color: #F1F1F1;
  border-radius:0px 0px 5px 5px;
  color: #626262;
  font-family: 'OpenSans-SemiBold';  
  font-size: 16px;
  padding: 35px 30px;
}

.faq .accordion-item{
  margin-top:15px;
}

.faq .accordion-button{
  color: #626262;
  font-family: 'OpenSans-Bold';
  background-color: #F1F1F1;
  box-shadow:none; 
  border-radius:5px 5px 0px 0px;
  font-size: 16px;
}
.accordion-button.collapsed{
  border-radius:5px;
}
.accordion-button:not(.collapsed){
  color:#fff;
  background-color: #45C76F!important;
  box-shadow:none;
}
.accordion-button::after{
  background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyNyAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTMuNSIgY3k9IjE0LjE2MDIiIHI9IjEzLjUiIGZpbGw9IiM0NUM3NkYiLz4KPHBhdGggZD0iTTEzLjUgMTguMDU4MUMxMy4zNDg5IDE4LjA1ODEgMTMuMTk3NiAxOC4wMDU5IDEzLjA4MjMgMTcuOTAxOEw3LjE3MzE3IDEyLjU3MDNDNi45NDIyOCAxMi4zNjIgNi45NDIyOCAxMi4wMjQ2IDcuMTczMTcgMTEuODE2NEM3LjQwNDA3IDExLjYwODIgNy43Nzc5NyAxMS42MDgxIDguMDA4NzIgMTEuODE2NEwxMy41IDE2Ljc3MUwxOC45OTEzIDExLjgxNjRDMTkuMjIyMiAxMS42MDgxIDE5LjU5NjEgMTEuNjA4MSAxOS44MjY5IDExLjgxNjRDMjAuMDU3NiAxMi4wMjQ3IDIwLjA1NzggMTIuMzYyMSAxOS44MjY5IDEyLjU3MDNMMTMuOTE3OCAxNy45MDE4QzEzLjgwMjQgMTguMDA1OSAxMy42NTEyIDE4LjA1ODEgMTMuNSAxOC4wNTgxWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==");
  background-size: contain;
  height: 30px;
  width:30px;
}
.accordion-button:not(.collapsed)::after{
  background-image:url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyNyAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTMuNSIgY3k9IjE0LjE2MDIiIHI9IjEzLjUiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMy41IDEwLjY2MDJDMTMuMzQ4OSAxMC42NjAyIDEzLjE5NzYgMTAuNzEyMyAxMy4wODIzIDEwLjgxNjRMNy4xNzMxNyAxNi4xNDhDNi45NDIyOCAxNi4zNTYzIDYuOTQyMjggMTYuNjkzNyA3LjE3MzE3IDE2LjkwMTlDNy40MDQwNyAxNy4xMTAxIDcuNzc3OTcgMTcuMTEwMiA4LjAwODcyIDE2LjkwMTlMMTMuNSAxMS45NDcyTDE4Ljk5MTMgMTYuOTAxOUMxOS4yMjIyIDE3LjExMDIgMTkuNTk2MSAxNy4xMTAyIDE5LjgyNjkgMTYuOTAxOUMyMC4wNTc2IDE2LjY5MzUgMjAuMDU3OCAxNi4zNTYyIDE5LjgyNjkgMTYuMTQ4TDEzLjkxNzggMTAuODE2NEMxMy44MDI0IDEwLjcxMjMgMTMuNjUxMiAxMC42NjAyIDEzLjUgMTAuNjYwMloiIGZpbGw9IiM0NUM3NkYiLz4KPC9zdmc+Cg=="); 
}
/*######################################## 
######### Faq Section ############
##########################################*/

/*######################################## 
######### Contact Section ############
##########################################*/
.contactUs{
  background-color: #E1EEE1;
  height: 100vh;
}

.contactUs .greenBox{
  position:absolute;
  background-color: #45C76F;
  max-height: 650px;
  width: 100%; 
  top:0;
  border-radius: 0px 0px 750px 750px; 
}

.contactUs .greenBox-form{ 
  width: 100%;  
   
}
.form-control { 
  padding: .600rem .75rem;
  border-color:#C7C7C7;
}
.form-elements{
  position: relative; 
  width: 100%; 
  max-width: 600px; 
  min-height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 7px 0px #868282;
  padding: 60px;
}
.form-elements textarea{
  border-color:#C7C7C7;
  border-radius: 6px;
}
.form-elements label{
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  color:#666666;
  padding-bottom: 5px;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #45C76F;
  outline: 0;
  box-shadow: 0 0 0 .25rem #45c76e00;
}
/*######################################## 
######### Contact Section ############
##########################################*/