@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Medium';
    src: url('../fonts/OpenSans-Medium.ttf');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('../fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Barlow-Light';
    src: url('../fonts/Barlow-Light.ttf');
}

@font-face {
    font-family: 'Barlow-Medium';
    src: url('../fonts/Barlow-Medium.ttf');
}

@font-face {
    font-family: 'Barlow-SemiBold';
    src: url('../fonts/Barlow-SemiBold.ttf');
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../fonts/Barlow-Bold.ttf');
}

[font-family="OpenSans-Light"] {
    font-family: 'OpenSans-Light';
}

[font-family="OpenSans-Regular"] {
    font-family: 'OpenSans-Regular';
}

[font-family="OpenSans-Medium"] {
    font-family: 'OpenSans-Medium';
}

[font-family="OpenSans-SemiBold"] {
    font-family: 'OpenSans-SemiBold';
}

[font-family="OpenSans-Bold"] {
    font-family: 'OpenSans-Bold';
}

[font-family="Barlow-Regular"] {
    font-family: 'Barlow-Regular';
}

[font-family="Barlow-Light"] {
    font-family: 'Barlow-Light';
}

[font-family="Barlow-Medium"] {
    font-family: 'Barlow-Medium';
}

[font-family="Barlow-SemiBold"] {
    font-family: 'Barlow-SemiBold';
}

[font-family="Barlow-Bold"] {
    font-family: 'Barlow-Bold';
}


/******** Colors ************/

[data-color="txt-white"] {
    color: #fff;
}

[data-color="txt-green"] {
    color: #45C76F;
}

[data-color="black-1"] {
    color: #363636;
}

[data-color="black-2"] {
    color: #666666;
}
[data-color="black-3"] {
    color: #98A2B3;
}

[data-color="blue"] {
    color: #1780CE;
}

[data-color="red"] {
    color: #348C4F;
}

[data-bgcolor="txt-green"] {
    background-color: #45C76F;
}

[data-bgcolor="blue"] {
    background-color: #1780CE;
}

/******** Colors ************/

/*********** Line Height ********/
[data-line-height="1.7"] {
    line-height: 1.7em;
}

[data-line-height="1.8"] {
    line-height: 1.8em;
}

[data-line-height="1.9"] {
    line-height: 1.9em;
}

[data-line-height="2"] {
    line-height: 2em;
}

[data-line-height="2.1"] {
    line-height: 2.1em;
}

/***********  Line Height ********/


/***********  Font size ********/
[data-font-size="13px"] {
    font-size: 13px;
}

[data-font-size="14px"] {
    font-size: 14px;
}

[data-font-size="15px"] {
    font-size: 15px;
}

[data-font-size="16px"] {
    font-size: 16px;
}

[data-font-size="18px"] {
    font-size: 18px;
}

[data-font-size="19px"] {
    font-size: 19px;
}

[data-font-size="20px"] {
    font-size: 20px;
}

[data-font-size="21px"] {
    font-size: 21px;
}

[data-font-size="22px"] {
    font-size: 22px;
}

[data-font-size="23px"] {
    font-size: 23px;
}

[data-font-size="24px"] {
    font-size: 24px;
}

[data-font-size="25px"] {
    font-size: 25px;
}

[data-font-size="26px"] {
    font-size: 26px;
}

[data-font-size="27px"] {
    font-size: 27px;
}

[data-font-size="28px"] {
    font-size: 28px;
}

[data-font-size="29px"] {
    font-size: 29px;
}

[data-font-size="30px"] {
    font-size: 30px;
}

/***********  Font size ********/

[data-width="600"] {
    max-width: 600px;
}

[data-width="700"] {
    max-width: 700px;
}

[data-width="1100"] {
    max-width: 1100px;
}

[data-width="1920"] {
    max-width: 1920px;
}



.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
    color: #626262;
}

[custom-button="button"] {
    width: 150px;
    background-color: #1780CE;
    height: 45px;
    border-radius: 25px;
    color: #fff;
    border: 0;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-bottom: 0px;
    line-height: 1.5em;
}

.container-fluid {
    max-width: 1800px;
}

ul {
    list-style-type: none;
    padding: 10px 0px;
    margin:0px;
}

ul li a {
    text-decoration: none;
    color: #666666;
}

ul li a:hover {
    color: #666666;
}

section {
    margin: 0 auto;
    max-width: 2560px;
    padding: 5em 0em;
}